<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring Boot color converter -->
    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr([%level]){faint}%clr([%thread]){faint}%clr([%logger{36}]){faint} %n     %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
